section#myPage {
  margin-bottom: 120px;
  font-family: "Noto Sans KR", sans-serif;
}

article #myPW {
  font-size: 24px;
  font-weight: 500;
  margin: 10px 0 25px 10px;
}

article#myAccount {
  padding: 40px 20px 60px;
}

article#myAccount h2 {
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 50px;
}

article#myAccount h2#notLoginTit {
  margin-bottom: 25px;
  line-height: 31px;
}
article#myAccount h2#notLoginTit ~ button {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  background: var(--mainGreen);
  color: white;
  border-radius: 10px;
}
article#myAccount h2#notLoginTit ~ button a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 20px;
}

article#myAccount #accountInfo {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article#myAccount #accountInfo input {
  max-width: 235px;
  border: none;
  outline: none;
  border-bottom: 1px solid lightgray;
  padding: 5px 8px;
}
article#myAccount #accountInfo input:focus {
  border: none;
  outline: none;
}

article#myAccount #accountInfo .editBtn {
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid lightgray;
  font-size: 18px;
}

article#myAccount ~ #logout {
  text-align: center;
  margin-top: 25px;
  color: gray;
}

.settingBtn:last-of-type {
  margin-bottom: 0;
}
.settingBtn {
  margin: 0 15px 20px;
  padding: 25px;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 20px;
  min-height: 150px;
  justify-content: space-between;
}

.settingBtn .btnTxt {
  max-width: 220px;
}
.settingBtn .btnTxt p:first-child {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.settingBtn .btnTxt p:last-child {
  font-size: 15px;
  line-height: 21px;
}
.settingBtn .togBtn {
  width: 60px;
  height: 33px;
  background: #d9d9d9;
  border-radius: 50px;
  position: relative;
}
.togBtn .togCircle {
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  transition: left 0.2s;
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 100%;
  margin: 0 6px;
}

/* 다크모드 적용 css */
article#myAccount #accountInfo .darkEditBtn {
  border: 1px solid #383838;
}
.DarkSettingBtn {
  border: 1px solid #383838;
}

.settingBtn .darkBtn {
  background: #383838;
}

.togBtn .darkTogCircle {
  background-color: #121212;
}

/* 버튼 켜졌을 때 */
.settingBtn .togBtn.onBtn {
  background: var(--mainGreen);
}
